<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>About</title>


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/fontawesome-free-5.15.3-web/css/all.min.css">
  <link rel="stylesheet" href="../static/css/about.css">


</head>
<body>
<div class="header" style="background-color: #09050d; background-size:100% 100%; height: 420px;">
  <div class="menu">
    <img src="../images/Logo.PNG"/>
    <h1><a th:href="">FITNESS</a></h1>
    <button><a th:href="">BECAME A MEMBER</a></button>
    <ul>
      <li><a th:href="">Home</a></li>
      <li><a th:href="">About</a></li>
      <li><a th:href="">Services</a></li>
      <li><a th:href="">Schedule</a></li>
      <li><a th:href="">Gallery</a></li>
      <li><a th:href="">Blog</a></li>
      <li><a th:href="">Contact</a></li>
    </ul>

  </div>
  <h1 class="banner">About Us</h1>
</div>


<div class="container2">
  <div class="box">
    <img src="../images/container.jpg"/>
  </div>
  <div class="box1">

    <i class="far fa-play-circle"></i><p class="p1"><a th:href="">ABOUT OUR GYM</a></p>
    <h1><a th:href="">SAFE BODY BUILDING PROPER SOLUTIONS THAT SAVES OUR VALUABLE TIME!</a> </h1>
    <P class="p2">Brook presents your services with flexible, convenient and cdpose layouts. You can select your favorite layouts & elements for cular ts with
      unlimited ustomization possibilities. Pixel-perfect replication of the designers is intended.</P>
    <p class="p3">Brook presents your services with flexible, convefnient and chient anipurpose layouts. You can select your favorite layouts.</p>
    <button><a th:href="">BECAME A MEMBER</a></button>
  </div>
</div>

<div class="container6" style="background-image:url('../images/section_bg02.png'); background-size: 100% 100%;background-position: center;">
  <h1><a th:href="">April membership offer available Now</a></h1>
  <button class="bt"><a th:href="">MORE SERVICES</a> </button>
</div>

<div class="container4">
  <div class="box"><img src="../images/container4.jpg" sizes="100% 100%"/>
  </div>
  <div class="box1">
    <i class="far fa-play-circle"></i><p>CLIENT FEEDBACK</p>
    <h1><a th:href="">WHAT OUR CLIENT THINK ABOUT OUR GYM</a> </h1>
    <p class="pp"><a th:href="">Make you body.Make you body.Make you body.Make you body.Make you body.Make you body.Make you body.Make you body.Make you body.Make you body.Make you body.Make you body.Make you body.Make you body.Make you body</a> </p>
    <h3><a th:href="">JHON SMITH</a></h3>
  </div>
</div>

<div class="container5">
  <div class="box1">
    <i class="far fa-play-circle"></i>
    <p><a th:href="">OUR TEAM MEMBERS</a></p>
    <h1><a th:href="">OUR MOST EXPRIENCED TRAINERS</a></h1>
    <button class="bt"><a th:href="">MORE SERVICES</a> </button>
  </div>
  <div class="box2">
    <div class="mbox" style="background-image:url('../images/creative1.jpg'); background-size: 102% 100%;background-position: center;" >
      <div class="details">
        <i class="far fa-play-circle"></i> <p><a th:href="">Creative Director</a></p>
        <h2>Jhon Sunsaev</h2>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-chrome"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>

    <div class="mbox" style="background-image:url('../images/creative2.jpg'); background-size: 102% 100%;background-position: center;" >
      <div class="details">
        <i class="far fa-play-circle"></i> <p><a th:href="">Creative Director</a></p>
        <h2>Jhon Sunsaev</h2>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-chrome"></i>
        <i class="fab fa-instagram"></i>

      </div>
    </div>

    <div class="mbox" style="background-image:url('../images/creative3.jpg'); background-size: 102% 100%;background-position: center;" >
      <div class="details">
        <i class="far fa-play-circle"></i> <p><a th:href="">Creative Director</a></p>
        <h2>Jhon Sunsaev</h2>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-chrome"></i>
        <i class="fab fa-instagram"></i>

      </div>
    </div>

  </div>
</div>

<div class="footer">
  <div class="footetdetail">
    <ul><h2>Company</h2>
      <li><a th:href="">About Us</a></li>
      <li><a th:href="">Company</a></li>
      <li><a th:href="">Press & Blog</a></li>
      <li><a th:href="">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="footetdetail">
    <ul><h2>Open Hour</h2>
      <li><a th:href="">Monday 11am-7pm</a></li>
      <li><a th:href="">Tuesday-Friday 11am-8pm</a></li>
      <li><a th:href="">Saturday 10am-6pm</a></li>
      <li><a th:href="">Sunday 11am-6pm</a></li>
    </ul>
  </div>
  <div class="footetdetail">
    <ul><h2>RESOURCES</h2>
      <li><a th:href="">Home Insurance</a></li>
      <li><a th:href="">Travel Insurance</a></li>
      <li><a th:href="">Car Insurance</a></li>
      <li><a th:href="">Business Insurance</a></li>
      <li><a th:href="">Heal Insurance</a></li>
    </ul>
  </div>
  <div class="footetdetail">
    <img src="../images/Logo.PNG"/><ul><h2>FITNESS</h2>
    <li><a th:href="">GThe trade war currently ensuing
      between te US anfd several natxions
      around thdhe globe, most fiercely with.</a></li>
  </ul>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-chrome"></i>
    <i class="fab fa-instagram"></i>
  </div>
  <hr  width="80%" align="center" color="gray" />

  <p><a th:href="">Copyright ©2021 All rights reserved | This template is made with  by TeamBanCuoi</a></p>
</div>
</body>
</html>