<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Services</title>
  <link rel="stylesheet" href="../static/css/services.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/fontawesome-free-5.15.3-web/css/all.min.css">



</head>
<body>
<div class="header" style="background-color: #09050d; background-size:100% 100%; height: 420px;">
  <div class="menu">
    <img src="../images/Logo.PNG"/>
    <h1><a th:href="">FITNESS</a></h1>
    <button><a th:href="">BECAME A MEMBER</a></button>
    <ul>
      <li><a th:href="">Home</a></li>
      <li><a th:href="">About</a></li>
      <li><a th:href="">Services</a></li>
      <li><a th:href="">Schedule</a></li>
      <li><a th:href="">Gallery</a></li>
      <li><a th:href="">Blog</a></li>
      <li><a th:href="">Contact</a></li>
    </ul>

  </div>
  <h1 class="banner">OUR SERVICES</h1>
</div>


<div class="container3" style=" background-color: white">
  <div class="box">
    <i class="far fa-play-circle"></i><p><a th:href="">OUR SERVICES FOR YOU</a></p>
    <h1><a th:href="">PUSH YOUR LIMITS FORWARD WE OFFER YOU</a></h1>
    <button class="bt"><a th:href="">MORE SERVICES</a> </button>
  </div>


  <div class="bbox">
    <div class="box1">
      <i class="fas fa-dumbbell"></i>
      <h3><a th:href="">QUALITY EQUIPMENT</a></h3>
      <p><a th:href="">The sea freight service has grown consider ably in recent years. We spend timetting to kn.</a></p>
      <button><a th:href="">DISCOVER MORE ABOUT US</a></button>
    </div>
    <div class="box1">
      <i class="fas fa-dumbbell"></i>
      <h3><a th:href="">QUALITY EQUIPMENT</a></h3>
      <p><a th:href="">The sea freight service has grown consider ably in recent years. We spend timetting to kn.</a></p>
      <button><a th:href="">DISCOVER MORE ABOUT US</a></button>
    </div>
    <div class="box1">
      <i class="fas fa-dumbbell"></i>
      <h3><a th:href="">QUALITY EQUIPMENT</a></h3>
      <p><a th:href="">The sea freight service has grown consider ably in recent years. We spend timetting to kn.</a></p>
      <button><a th:href="">DISCOVER MORE ABOUT US</a></button>
    </div>
  </div>

  <div class="bbox">
    <div class="box1">
      <i class="fas fa-dumbbell"></i>
      <h3><a th:href="">QUALITY EQUIPMENT</a></h3>
      <p><a th:href="">The sea freight service has grown consider ably in recent years. We spend timetting to kn.</a></p>
      <button><a th:href="">DISCOVER MORE ABOUT US</a></button>
    </div>
    <div class="box1">
      <i class="fas fa-dumbbell"></i>
      <h3><a th:href="">QUALITY EQUIPMENT</a></h3>
      <p><a th:href="">The sea freight service has grown consider ably in recent years. We spend timetting to kn.</a></p>
      <button><a th:href="">DISCOVER MORE ABOUT US</a></button>
    </div>
    <div class="box1">
      <i class="fas fa-dumbbell"></i>
      <h3><a th:href="">QUALITY EQUIPMENT</a></h3>
      <p><a th:href="">The sea freight service has grown consider ably in recent years. We spend timetting to kn.</a></p>
      <button><a th:href="">DISCOVER MORE ABOUT US</a></button>
    </div>
  </div>

</div>



<div class="footer">
  <div class="footetdetail">
    <ul><h2>Company</h2>
      <li><a th:href="">About Us</a></li>
      <li><a th:href="">Company</a></li>
      <li><a th:href="">Press & Blog</a></li>
      <li><a th:href="">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="footetdetail">
    <ul><h2>Open Hour</h2>
      <li><a th:href="">Monday 11am-7pm</a></li>
      <li><a th:href="">Tuesday-Friday 11am-8pm</a></li>
      <li><a th:href="">Saturday 10am-6pm</a></li>
      <li><a th:href="">Sunday 11am-6pm</a></li>
    </ul>
  </div>
  <div class="footetdetail">
    <ul><h2>RESOURCES</h2>
      <li><a th:href="">Home Insurance</a></li>
      <li><a th:href="">Travel Insurance</a></li>
      <li><a th:href="">Car Insurance</a></li>
      <li><a th:href="">Business Insurance</a></li>
      <li><a th:href="">Heal Insurance</a></li>
    </ul>
  </div>
  <div class="footetdetail">
    <img src="../images/Logo.PNG"/><ul><h2>FITNESS</h2>
    <li><a th:href="">GThe trade war currently ensuing
      between te US anfd several natxions
      around thdhe globe, most fiercely with.</a></li>
  </ul>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-chrome"></i>
    <i class="fab fa-instagram"></i>
  </div>
  <hr  width="80%" align="center" color="gray" />

  <p><a th:href="">Copyright ©2021 All rights reserved | This template is made with  by TeamBanCuoi</a></p>
</div>
</body>
</html>